.contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
}

.contact-info {
    background-color: orangered;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 25px;
}